.DS_Store
**/.DS_Store
**/.ipynb_checkpoints

*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.ent
*.bbl
*.blg
*.pdfsync
*.out
*(busy)
*.log
*.nav
*.toc
*.snm

Solutions_*.ipynb
**/Solutions_*.ipynb

# Jupyter Book (via myst) build outputs
_build

# Jupyter Book (via myst) build outputs
_build

# Jupyter Book (via myst) build outputs
_build

# Jupyter Book (via myst) build outputs
_build

# Jupyter Book (via myst) build outputs
_build

# Jupyter Book (via myst) build outputs
_build
