.DS_Store
**/.DS_Store
**/.vscode
**/.ipynb_checkpoints

*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.ent
*.bbl
*.blg
*.pdfsync
*.out
*(busy)
*.log
*.nav
*.toc
*.snm

Solutions_*.ipynb
**/Solutions_*.ipynb
**/**/private_exercises/*

00_class_schedule/*.xlsx
