.DS_Store
**/.DS_Store
**/.ipynb_checkpoints

*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.ent
*.bbl
*.blg
*.pdfsync
*.out
*(busy)
*.log
*.nav
*.toc
*.snm

Solutions_*.ipynb
**/Solutions_*.ipynb
**/private_exercises/*
99_exercises/private_exercises/*
_build/html/99_exercises/private_exercises/*
docs/html/99_exercises/private_exercises/*
docs/99_exercises/private_exercises/*
